<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" th:action="@{base/insert}" method="post">
    本地号<input type="text" name="id"/>
    rPath <input type="text" name="rPath"/><br>
    wPath<input type="text" name="wPath"/><br>
    rMethod <input type="text" name="rMethod"/><br>
    tableName <input type="text" name="tableName"/><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>